.login {
    text-align: center;
}

.login p {
    color: #AAA
}

.error {
    border: 1px, solid rgb(121, 119, 119);
    background-color: rgb(255, 208, 208);
    padding: 0.5em;
    border-radius: 10px;
    color: rgb(66, 65, 65);
}

@media only screen and (max-device-width: 600px) {
    h1 {font-size: 1.2em;}
    p {font-size: 0.8;}
    .loginForm form {max-width: 33%;}
    
    }