.post_container {
    height: 30%;
    text-align: center;
  }
  
  .post_container h3 {
   
    margin-bottom: 0.2em;
  }

  .img {
    max-width: 600px;
  }
  
  .post_container .tags {
    display: flex;
    justify-content: center;
  }
  
  .body {
    text-align: center;
    font-size: 1em;
    justify-content: center;
    padding: 2em;
  }

.body p {
  word-wrap: break-word;
  max-width: 30%;
}
  .tags p {
    margin-right: 1em;
  }
  
  .tags span {
    font-weight: bold;
  }

  @media screen and (max-device-width: 600px) {
    .img {max-width: 100%;} 
    }