.create_post {
    text-align: center;
}

.create_post h2 {
    font-size: 2.2em;
}

.create_post p {
color: #aaa;
margin-bottom: 2em;
}

.create_post textarea {
    display:block;
}

.error {
    border: 1px, solid rgb(107, 105, 105);
    background-color: rgb(255, 208, 208);
    padding: 0.5em;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

@media screen and (max-device-width: 600px) {
    .create_post h2  {font-size: 1em;} 
    .create_post p {font-size: .7em; margin-bottom: 1em;}
    .create_form form  {font-size: .7em;} 
    .create_post span {
        font-size: .7em;
    }
    .create_post input {margin-bottom: .1em;}

}

@media screen and (max-device-width: 500px) {
    .create_post h2  {font-size: 1em;} 
    .create_post p {font-size: .7em; margin-bottom: 1em;}
    .create_form form  {font-size: .5em;} 
    .create_post span {
        font-size: .6em;
    }
    .create_post input {margin-bottom: .1em;
                        font-size: .5em;
                        padding-right: 0.5em;}
    
}


